## [Start] Setting "usedCount" to default value of "0". **
$util.qr($context.args.input.put("usedCount", $util.defaultIfNull($ctx.args.input.usedCount, 0)))
## [End] Setting "usedCount" to default value of "0". **
{}